<h1>NEW</h1>

<div><%= link_to("BACK", moneys_path) %></div>
<br>

	<%= form_for @money, url: moneys_path(@money) do |f| %>

<div>
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>
<br>
<div>
	<%= f.label :description %>
	<%= f.text_field :description %>
</div>
<br>
<div>
	<%= f.label :cost %>
	<%= f.number_field :cost %>
</div>
<br>
<!-- <div>
	
	<%= f.text_field :feel %>
</div> -->
<div>	
	<!--check_box(object_name, method, options = {}, checked_value = "1", unchecked_value = "0")-->
	<!-- check_box(feel) -->
	<!-- radio_button(object_name, method, tag_value, options = {}) -->
	<%= f.label :feel %>
	<%= f.radio_button :feel, 1%>
	<%= f.label "Good" %>
	<%= f.radio_button :feel, 2%>
	<%= f.label "Bad" %>
	<%= f.radio_button :feel, 3%>
	<%= f.label "soso" %>
	<%#= f.label "feel:" %>
	<%#= f.check_box (:feel, checked_value = 1 )%>
	<%#= f.label "GOOD" %>
	<%#= f.check_box :feel checked_value = "222"%>
	<%#= f.label "BAD" %>
</div>


<div>
<%= f.label :paytype %>
<%= f.radio_button :paytype,  1, {}%>
<%= f.label "cash"%>
<%= f.radio_button :paytype,  2, {}%>
<%= f.label "card"%>

	<%#= check_box_tag 'good'%>
	<%#= label_tag(:feel, "Good")%>
	<%#= check_box_tag(:feel, value=2)%>
	<%#= label_tag(:feel, "Bad")%>
</div>
<br>
<div>
	
	<%#= f.text_field :paytype %>
</div>
<br>
  <%= f.submit "SUBMIT"%>
  <% end %>



<!-- <div>123<%= @seantest %></div> -->